body {
  overflow: hidden;
  background: radial-gradient(circle, #3b0e68 0%, #1a084e 100%);
}

.mic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.mic::before, .mic::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  z-index: 2;
  box-shadow: 0 0 15px 15px #1c084f;
}

.mic::before {
  width: 200px;
  height: 200px;
  background-color: #1a084e;
}

.mic::after {
  width: 120px;
  height: 120px;
  background-color: #2f1e5f;
  animation: circle-size 0.8s linear infinite alternate;
}

.mic-icon {
  box-sizing: border-box;
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translate(-50%, -50%) scale(2.5);
  display: block;
  width: 16px;
  height: 12px;
  border-bottom-left-radius: 120px;
  border-bottom-right-radius: 120px;
  border: 2px solid;
  border-top: 0;
  margin-top: 20px;
  z-index: 3;
}

.mic-icon::before, .mic-icon::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
}

.mic-icon::before {
  width: 2px;
  height: 5px;
  top: calc(100% + 1px);
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #fff;
}

.mic-icon::after {
  border: 2px solid;
  width: 8px;
  height: 18px;
  left: 50%;
  top: -10px;
  border-radius: 4px;
  transform: translate(-50%, 0);
}

.mic-shadow {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  z-index: 1;
  box-shadow: 
    10px -30px 20px 8px #823ca6,
    14px -6px 37px 6px #aab3d2,
    -15px -18px 67px 6px #5acee3,
    31px 3px 14px 6px #1b7d8f,
    2px 1px 57px 6px #f30bf5;
  animation: shadow-rotate 1.5s linear infinite;
  transform-origin: center;
}

@keyframes circle-size {
  from {
    width: 120px;
    height: 120px;
  }
  to {
    width: 150px;
    height: 150px;
  }
}

@keyframes shadow-rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
